!!!
%html.no-js{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/

    %title= current_page.data.title || "Middleman Semantic UI"
    = stylesheet_link_tag 'base'
  %body{:class => "#{page_classes}"}
    = partial 'header'
    .ui.container
      = yield

    - js_files = %w( vendor/html5up app vendor/jquery.event.move vendor/jquery.twentytwenty vendor/swoopydrag vendor/semantic-ui vendor/jquery.address )
    = javascript_include_tag *js_files
