!!!
%html.no-js{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/

    %title= current_page.data.title || "Gas Leaks"
    = javascript_include_tag "https://use.typekit.net/rqi7oqq.js"
    :javascript
      try{Typekit.load({ async: true });}catch(e){}
    = stylesheet_link_tag 'story'

  %body{:class => "#{page_classes}"}
    = partial 'header'
    = yield
    -# = partial 'footer'
    %svg{:height => "50", :version => "1.1", :width => "100", :xmlns => "http://www.w3.org/2000/svg"}
      %defs
        %lineargradient#MyGradient
          %stop{:offset => "0", "stop-color" => "#eb955b"}
          %stop{:offset => "100%", "stop-color" => "#e2543d"}


    - js_files = %w( vendor/html5up app vendor/jquery.event.move vendor/jquery.twentytwenty )
    = javascript_include_tag *js_files
    
    /[if lte IE 8] <script src="assets/js/ie/respond.min.js"></script>


