.ui.container
  %h2
    Best Practices
  .ui.divider
  - data.categories.each do |section|
    %h3
      = section.section_name
    .ui.grid.container
      .row
        .eight.wide.column
          %h4
            Gas Company
          .ui.divider
          .ui.accordion
            - section.gas_companies.each do |gas_company|
              .title
                %i.dropdown.icon
                = gas_company.best_practice
              .content
                %p 
                  = gas_company.background
        .eight.wide.column
          %h4
            Municipality
          .ui.divider
          .ui.accordion
            - section.municipalities.each do |municipality|
              .title
                %i.dropdown.icon
                = municipality.best_practice
              .content
                %p
                  = municipality.background
