---
title: "Best Practices"
---

.ui.container  
  %h1.ui.header
    Best Practices
  .ui.pointing.secondary.menu
    - data.bestpractices.each_with_index do |section, index|
      %a{class: ["item", ("active" unless (index > 0)), "color-" + index.to_s ], "data-tab": section.section.parameterize('_') }
        %div.ui.circular.label
          = index + 1
        &nbsp;
        = section.section.upcase
    %a{class: ["item"], "data-tab": "resources" }
      / fix for specific icon
      %i.inverted.grey.circular.book.icon#fontsizefix
      &nbsp;
      RESOURCES
  - data.bestpractices.each_with_index do |section, index|
    %div{ class: ["ui", "tab", ("active" unless (index > 0)) ], "data-tab": section.section.parameterize('_') }
      %h2.ui.header
        = section.section
      %p
        = section.description
      .ui.top.attached.pointing.menu
        - section.subsection.each_with_index do |subsection,index|
          %a{class: ["item", ("active" unless (index > 0)) ], "data-tab": section.section.parameterize('_') + "/" + subsection.name.parameterize('_') }
            = subsection.name.upcase
      - section.subsection.each_with_index do |subsection,index|
        %div{class: ["ui", "tab", "bottom", "segment", "attached", "tab", ("active" unless (index > 0)) ], "data-tab": section.section.parameterize('_') + "/" + subsection.name.parameterize('_') }
          .ui.equal.width.stackable.grid.container
            - if subsection.both  
              .column
                %h3.ui.header
                  Municipality & Gas Company
                .ui.divider
                .ui.accordion
                  - subsection.both.each_with_index do |both, index|
                    .title
                      = (index + 1).to_s + "."
                      &nbsp;
                      = both.best_practice
                      %i.dropdown.icon.green
                    .content
                      %p
                        = both.background
            .equal.width.row
              - if subsection.gas_companies 
                .column
                  %h3.ui.header
                    Gas Company
                  .ui.divider
                  .ui.accordion
                    - subsection.gas_companies.each_with_index do |gas_company, index|
                      .title
                        = (index + 1).to_s + "."
                        &nbsp;
                        = gas_company.best_practice
                        %i.dropdown.icon.green
                      .content
                        %p 
                          = gas_company.background
              - if subsection.municipalities  
                .column
                  %h3.ui.header
                    Municipality
                  .ui.divider
                  .ui.accordion
                    - subsection.municipalities.each_with_index do |municipality, index|
                      .title
                        = (index + 1).to_s + "."
                        &nbsp;
                        = municipality.best_practice
                        %i.dropdown.icon.green
                      .content
                        %p
                          = municipality.background
  %div{ class: ["ui", "segment", "tab"], "data-tab": "resources" }
    %h2.ui.header
      Resources
    %ul.ui.list
      %li.ui.header
        %a{href: "/Reformat_BestPracticeCheckList_Municipalities.pdf", target: "_blank"}
          Best Practices Checklist for Municipalities
      %li.ui.header
        %a{href: "/Reformat_BestPracticeCalendar_Municipalities.pdf", target: "_blank"}
          Best Practices Calendar for Municipality
      %li 
        Paving Contract Language 
        %ul
          %li "....contractor is required to provide at least three weeks notice of the street paving schedule to all utilities."
      %li
        Model Language for Bilateral Agreement with Gas Company: COMING SOON! Contact
        = succeed "\u{a0}if" do
          %a{:href => "mailto:cleanenergy@mapc.org"} cleanenergy@mapc.org
      %li
        Model Language for Request for Legislative Approval of Special Revenue Fund: COMING SOON! Contact
        = succeed "\u{a0}if" do
          %a{:href => "mailto:cleanenergy@mapc.org"} cleanenergy@mapc.org
      %li 
        Geographic Information Systems (selected examples)
        %ul
          %li.ui.images
            %img.ui.medium.image{src: "../images/resources/resourcesgis.png"}
            %img.ui.medium.image{src: "../images/resources/resourcesgis2.png"}
          %li
            ArcGIS: software- and cloud-based:
            = succeed "\u{a0}" do
              %a{:href => "https://www.google.com/url?q=https://www.arcgis.com/features/index.html&sa=D&ust=1476814901539000&usg=AFQjCNHUfoL5LJs087nU6ktxVMe26N6eTw"} https://www.arcgis.com/features/index.html
          %li
            Utility Cloud: cloud-based
            = succeed "\u{a0}" do
              %a{:href => "https://www.google.com/url?q=http://utilitycloud.us/&sa=D&ust=1476814901540000&usg=AFQjCNGO_gAgP9w5piKLDbH4TRghXUh_fw"} http://utilitycloud.us/
            %ul
              %li Example: Randolph
          %li
            PeopleGIS:
            = succeed "\u{a0}" do
              %a{:href => "https://www.google.com/url?q=http://www.peoplegis.com/simplicity&sa=D&ust=1476814901541000&usg=AFQjCNEyYkdHavJo7V5dQJakAG6-z7m57g"} http://www.peoplegis.com/simplicity
            %ul
              %li
                Example: Concord:
                = succeed "\u{a0}" do
                  %a{:href => "https://www.google.com/url?q=https://www.mapsonline.net/peopleforms/mo4/index.php?site_id%3D200&sa=D&ust=1476814901541000&usg=AFQjCNHWDrH8jgO4FYFsuwk7Rxb-AoJSNA"} https://www.mapsonline.net/peopleforms/mo4/index.php?site_id=200
          %li
            MapGeo:
            = succeed "\u{a0}" do
              %a{:href => "https://www.google.com/url?q=http://www.appgeo.com/mapgeo/&sa=D&ust=1476814901542000&usg=AFQjCNFQ6BBwC5hNB1vElpv0szh2prYCuw"} http://www.appgeo.com/mapgeo/
            %ul
              %li
                Example - Gloucester:
                = succeed "\u{a0}" do
                  %a{:href => "https://www.google.com/url?q=https://gloucesterma.mapgeo.io/&sa=D&ust=1476814901543000&usg=AFQjCNEt9JlR2yH9NleMXRNQ_DThlbHBrw"} https://gloucesterma.mapgeo.io/

      %li 
        Online Permitting Systems (selected examples):
        %ul
          %li
            PeopleGIS:
            = succeed "\u{a0}" do
              %a{:href => "https://www.google.com/url?q=http://www.peoplegis.com/simplicity&sa=D&ust=1476814901545000&usg=AFQjCNGebcxU3yU4TZQkZmesK6p6phvRYg"} http://www.peoplegis.com/simplicity
            %ul
              %li
                Examples: Concord
                = succeed "\u{a0}" do
                  %a{:href => "https://www.google.com/url?q=https://www.mapsonline.net/concordma/forms/standalone.html.php?id%3D65010508&sa=D&ust=1476814901546000&usg=AFQjCNFkaxO4Sz6ZuSeZXxlgSECMDWd57Q"} https://www.mapsonline.net/concordma/forms/standalone.html.php?id=65010508
              %li
                Example - Arlington
                = succeed "\u{a0}" do
                  %a{:href => "https://www.google.com/url?q=http://www.arlingtonma.gov/departments/public-works/engineering/permitting/street-occupancy-trench-permit-application&sa=D&ust=1476814901546000&usg=AFQjCNES_ZIlXpTLSAYZ3O0Qo-LeClm-lA"} http://www.arlingtonma.gov/departments/public-works/engineering/permitting/street-occupancy-trench-permit-application
        %ul
          %li
            Tyler Technologies:
            = succeed "\u{a0}" do
              %a{:href => "https://www.google.com/url?q=http://www.tylertech.com/&sa=D&ust=1476814901547000&usg=AFQjCNGx1rgzocJaIXnV1fFaQEOuOCwCJw"} http://www.tylertech.com/
          %ul
            %li
              Example: Cambridge (registration required) -
              = succeed "\u{a0}" do
                %a{:href => "https://www.google.com/url?q=http://permits.cambridgema.gov/CAPSite/Public/Main&sa=D&ust=1476814901548000&usg=AFQjCNEeKQT1aE7t9-MW_eFs4iHuCgnN1g"} http://permits.cambridgema.gov/CAPSite/Public/Main
        %ul
          %li
            ViewPoint Cloud:
            = succeed "\u{a0}" do
              %a{:href => "https://www.google.com/url?q=http://viewpointcloud.com/&sa=D&ust=1476814901549000&usg=AFQjCNHbhcMOwSMjl9i2LZt77uS-G9csaw"} http://viewpointcloud.com/
          %ul
            %li
              Example: Randolph (registration required, Street Opening permit not included)
              = succeed "\u{a0}" do
                %a{:href => "https://www.google.com/url?q=https://www.viewmypermitct.org/preloginviews/loginpage.aspx?enc%3DtcERr83iZwP6X4vrpv6s6w%3D%3D&sa=D&ust=1476814901550000&usg=AFQjCNGHprKMq5sIsQJQc-BWkGjFQ9P1Xw"} https://www.viewmypermitct.org/preloginviews/loginpage.aspx?enc=tcERr83iZwP6X4vrpv6s6w==
      %li 
        Combustible Gas Indicator
        %ul
          %li
            Bascom Turner - Gas Ranger (Model used in MAPC-HEET project):
            = succeed "\u{a0}" do
              %a{:href => "https://www.google.com/url?q=http://www.bascomturner.com/gas-ranger.php&sa=D&ust=1476814901551000&usg=AFQjCNEeS3vAcMIgIg9Izxc4Z9D0wIc3oQ"} http://www.bascomturner.com/gas-ranger.php
      %li 
        Dig Safe
        %ul
          %li
            Violation Report Form:
            = succeed "\u{a0}" do
              %a{:href => "https://www.google.com/url?q=http://www.digsafe.com/violation_reports.php&sa=D&ust=1476814901552000&usg=AFQjCNFobFHnsOUmNobPBER2MyevPeRUWQ"} http://www.digsafe.com/violation_reports.php
%br
%br
