---
title: "Best Practices"
---

.ui.container  
  %h1.ui.header
    Best Practices
  .ui.pointing.secondary.menu
    - data.bestpractices.each_with_index do |section, index|
      %a{class: ["item", ("active" unless (index > 0)), "color-" + index.to_s ], "data-tab": section.section.parameterize('_') }
        %div.ui.circular.label
          = index + 1
        &nbsp;
        = section.section
    %a{class: ["item"], "data-tab": "resources" }
      / fix for specific icon
      %i.inverted.grey.circular.book.icon#fontsizefix
      &nbsp;
      Resources
  - data.bestpractices.each_with_index do |section, index|
    %div{ class: ["ui", "segment", "tab", ("active" unless (index > 0)) ], "data-tab": section.section.parameterize('_') }
      %h2.ui.header
        = section.section
      %p
        = section.description
      .ui.top.attached.pointing.menu
        - section.subsection.each_with_index do |subsection,index|
          %a{class: ["item", ("active" unless (index > 0)) ], "data-tab": section.section.parameterize('_') + "/" + subsection.name.parameterize('_') }
            = subsection.name
      - section.subsection.each_with_index do |subsection,index|
        %div{class: ["ui", "tab", "bottom", "segment", "attached", "tab", ("active" unless (index > 0)) ], "data-tab": section.section.parameterize('_') + "/" + subsection.name.parameterize('_') }
          .ui.equal.width.stackable.grid.container
            - if subsection.both  
              .column
                %h3.ui.header
                  Municipality & Gas Company
                .ui.divider
                .ui.accordion
                  - subsection.both.each_with_index do |both, index|
                    .title
                      = (index + 1).to_s + "."
                      &nbsp;
                      = both.best_practice
                      %i.dropdown.icon
                    .content
                      %p
                        = both.background
            .equal.width.row
              - if subsection.gas_companies 
                .column
                  %h3.ui.header
                    Gas Company
                  .ui.divider
                  .ui.accordion
                    - subsection.gas_companies.each_with_index do |gas_company, index|
                      .title
                        = (index + 1).to_s + "."
                        &nbsp;
                        = gas_company.best_practice
                        %i.dropdown.icon
                      .content
                        %p 
                          = gas_company.background
              - if subsection.municipalities  
                .column
                  %h3.ui.header
                    Municipality
                  .ui.divider
                  .ui.accordion
                    - subsection.municipalities.each_with_index do |municipality, index|
                      .title
                        = (index + 1).to_s + "."
                        &nbsp;
                        = municipality.best_practice
                        %i.dropdown.icon
                      .content
                        %p
                          = municipality.background
  %div{ class: ["ui", "segment", "tab"], "data-tab": "resources" }
    %h2.ui.header
      Resources
    %p
      Find a list of links
%br
%br
