---
title: "Best Practices"
---

.ui.container  
  %h1.ui.header
    Best Practices
  .ui.pointing.secondary.menu
    - data.bestpractices.each_with_index do |section, index|
      %a{class: ["item", ("active" unless (index > 0)) ], "data-tab": section.section.parameterize('_') }
        %div.ui.circular.label
          = index + 1
        &nbsp;
        = section.section
  - data.bestpractices.each_with_index do |section, index|
    %div{ class: ["ui", "segment", "tab", ("active" unless (index > 0)) ], "data-tab": section.section.parameterize('_') }
      %h3.ui.header
        = section.section
      %p
        = section.description
      .ui.top.attached.pointing.menu
        - section.subsection.each_with_index do |subsection,index|
          %a{class: ["item", ("active" unless (index > 0)) ], "data-tab": section.section.parameterize('_') + "/" + subsection.name.parameterize('_') }
            = subsection.name
      - section.subsection.each_with_index do |subsection,index|
        %div{class: ["ui", "tab", "bottom", "segment", "attached", "tab", ("active" unless (index > 0)) ], "data-tab": section.section.parameterize('_') + "/" + subsection.name.parameterize('_') }
          .ui.equal.width.stackable.grid.container
            - if subsection.gas_companies 
              .column
                %h4
                  Gas Company
                .ui.divider
                .ui.accordion
                  - subsection.gas_companies.each_with_index do |gas_company, index|
                    .title
                      = (index + 1).to_s + "."
                      &nbsp;
                      = gas_company.best_practice
                      %i.dropdown.icon
                    .content
                      %p 
                        = gas_company.background
            - if subsection.municipalities  
              .column
                %h4
                  Municipality
                .ui.divider
                .ui.accordion
                  - subsection.municipalities.each_with_index do |municipality, index|
                    .title
                      = (index + 1).to_s + "."
                      &nbsp;
                      = municipality.best_practice
                      %i.dropdown.icon
                    .content
                      %p
                        = municipality.background
            - if subsection.both  
              .column
                %h4
                  Municipality & Gas Company
                .ui.divider
                .ui.accordion
                  - subsection.both.each_with_index do |both, index|
                    .title
                      = (index + 1).to_s + "."
                      &nbsp;
                      = both.best_practice
                      %i.dropdown.icon
                    .content
                      %p
                        = both.background
